<a href="https://colab.research.google.com/github/iqrasarwar/ASP.NET/blob/main/Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = input("what's your name")
print("hello " , name)

what's your nameiqra sarwar
hello  iqra sarwar

In [5]:
#strongly typed language => means all variables are bound to some specific data types
a = 1
print(a) 
print(type(a))
a = 1.1
print(a) 
print(type(a))
a = '1'
print(a) 
print(type(a))
a = "1"
print(a) 
print(type(a))

1
<class 'int'>
1.1
<class 'float'>
1
<class 'str'>
1
<class 'str'>

In [6]:
value=10+10

In [8]:
# value="10"+10 //ERROR can only concatenate str (not "int") to str

In [9]:
number = input("Please enter any number between 1 and 10: ")
# value = 10 + number ERROR number is string input and 10 is int can't conactenate them
value = 10+int(number)
print(value)

Please enter any number between 1 and 10: 34
44

In [12]:
#STRINGS
str = "iqra sarwar"
print(len(str))
str = str +"m012"
print(str)
str = str*5
print(str)
print(str[0])
print(str[:-1])
print(str[0:])
print(str[:3])

11
iqra sarwarm012
iqra sarwarm012iqra sarwarm012iqra sarwarm012iqra sarwarm012iqra sarwarm012
i
iqra sarwarm012iqra sarwarm012iqra sarwarm012iqra sarwarm012iqra sarwarm01
iqra sarwarm012iqra sarwarm012iqra sarwarm012iqra sarwarm012iqra sarwarm012
iqr

In [15]:
print(str.upper())
print(str.lower())
print(str.capitalize())
print(str.replace("a","A"))
print(str.split('a'))
print("sar" in str)

IQRA SARWARM012IQRA SARWARM012IQRA SARWARM012IQRA SARWARM012IQRA SARWARM012
iqra sarwarm012iqra sarwarm012iqra sarwarm012iqra sarwarm012iqra sarwarm012
Iqra sarwarm012iqra sarwarm012iqra sarwarm012iqra sarwarm012iqra sarwarm012
iqrA sArwArm012iqrA sArwArm012iqrA sArwArm012iqrA sArwArm012iqrA sArwArm012
['iqr', ' s', 'rw', 'rm012iqr', ' s', 'rw', 'rm012iqr', ' s', 'rw', 'rm012iqr', ' s', 'rw', 'rm012iqr', ' s', 'rw', 'rm012']
True

In [16]:
acc = 90.845689
txt = "testing accuracy: {:.2f}% and {}"
print(txt.format(acc,acc+20)) # combine text with numbers with two decimal format

testing accuracy: 90.85% and 110.845689

In [17]:
x = 5
y = 2
print("x+y = ",x + y) # addition
print("x-y = ",x-y) # subtraction
print("x*y = ",x * y) # multiplication
print("x/y = ",x / y) # division
print("x%y = ",x % y) # modulus
print("x**y = ",x**y) # power

x+y =  7
x-y =  3
x*y =  10
x/y =  2.5
x%y =  1
x**y =  25

In [25]:
x = 5
y = 5
print(x > 3 and x < 10)
print(x == 5 or x < 4)
print(not x < 3 and x < 10)

True
True
True